<center>
  <div id="gradient-text">quartz</div><br><br>
</center>

<center>
  <div class="login-panel">
<center>

  <%= form_with(model: community, local: true) do |form| %>
    <% if community.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(community.errors.count, "error") %> prohibited this widget from being saved:</h2>

        <ul>
          <% community.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-xs-12">
      <label>Community Name</label>
    </div>
    <%= form.text_field :name, :placeholder => 'Enter Community Name', :required => true %>
    <br><br>


    <div class="col-xs-12">
      <label>Community Hashtag</label>
    </div>
    <%= form.text_field :hashtag, :placeholder => 'Enter Community Hashtag', :required => true %>
    <br><br>

    <div class="col-xs-12">
      <label>Community Description</label>
    </div>
    <%= form.text_area :description, :placeholder => 'Enter Community Description', :required => true %>
    <br><br>
    <div class="actions">
      <%= form.submit %>
    </div>
    <div class="col-xs-12">
      <%=link_to 'Go Back To Exploring', '/explore' %>
    </div>
  <% end %>
  </center>
</div>
</center>