<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <center>
      <div id="gradient-text">quartz</div><br><br>
    </center>

    <section id="one" class="section fbg">
      <h2>Explore Communities</h2>
      <br><br>
      <a href="/explore/new"><button class="btn"><i class="fa fa-pencil"></i> Create a Community</button></a>
      <br><br>
    </section>
    <section id="one" class="section">
      <div class="container">
        <div class="col-xs-12">
          <center>
          <div class="row">
            <% @community.each do |community| %>
              <div class="col-sm">
                <div class="card bg-light mb-3" style="width: 18rem; box-shadow: 0 0 10px rgb(224, 178, 255);">
                  <div class="card-header"><%=@user_email %></div>
                  <div class="card-body text-dark">
                    <h5 class="card-title"><%=community.name%></h5>
                    <p class="card-text"><%=community.description%></p>
                    <%= button_to('Go to Community', '/community/'+community.hashtag, method: "get", class: "btn") %>
                  </div>
                </div>
                <br>
              </div>
              <br><br>
            <% end %>
            </div>

          </center>
        </div>
      </div>
    </section>
    <section id="one" class="section fbg">
      <h2>About the Creators of Quartz</h2>
      <br><br>
      The creators of Quartz consist of Jacob Diecidue, Max Dudek, John Fessler, Jared Ranalli, and Gurmail Mathon
      <br>
      This is a social media platform made for the CS1530 - Software Engineering course at the University of Pittsburgh
      <br>
      Inquiries: JAD285@pitt.edu
      <br>
      <br><br>
    </section>
  </body>
  </html>