<%=render 'form', community: @community %>
<br><br>
<section id="one" class="section fbg">
  <h2>About the Creators of Quartz</h2>
  <br><br>
  The creators of Quartz consist of Jacob Diecidue, Max Dudek, John Fessler, Jared Ranalli, and Gurmail Mathon
  <br>
  This is a social media platform made for the CS1530 - Software Engineering course at the University of Pittsburgh
  <br>
  Inquiries: JAD285@pitt.edu
  <br>
  <br><br>
</section>