<center>
  <div id="gradient-text">quartz</div><br><br>
</center>

<center>
      <%= form_with url: '/my-profile/edit', class: "login-panel" do |form| %>

        <div class="col-xs-12">
          <label>Your Personal Bio</label>
        </div>
        <%= form.text_area 'user[bio]', :placeholder => 'Enter Your New Bio', :required => false %>
        <br><br>

        <div class="actions">
          <%= form.submit "Update Profile", class: "btn" %>
        </div>
        <div class="col-xs-12">
          <%=link_to 'Go Back To My Profile', '/my-profile' %>
        </div>
      <% end %>
</center>