<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <center>
      <div id="gradient-text">quartz</div><br><br>
    </center>

    <section id="one" class="section fbg">
      <div class="row">
        <div class="col-sm">
          <center>
            <div class="card bg-light mb-3" style="max-width: 22rem; box-shadow: 0 0 5px rgb(224, 178, 255);">
              <div class="card-body">
                <h5 class="card-title"><%=@user_email %></h5>
                <p class="card-text"><%=@user_bio %></p>
              </div>
            </div>
          </center>
        </div>
        <div class="col-sm">
          <center>
            <div class="card bg-light mb-3" style="max-width: 22rem; box-shadow: 0 0 5px rgb(224, 178, 255);">
              <div class="card-body">
                <%if @follows.count == 0 %>
                  <h5 class="card-title"><%= button_to "Follow", { action: "follow_action", :type => "follow" }, form_class: "form-line", class: "btn" %></h5>
                <%else %>
                  <h5 class="card-title"><%= button_to "Unfollow", { action: "follow_action", :type => "unfollow" }, form_class: "form-line", class: "btn" %></h5>
                <%end %>
                <p class="card-text">Active Since: <%=@user_age %></p>
              </div>
            </div>
          </center>
        </div>
      </div>
      <br>
    </section>
    <section id="one" class="section">
      <div class="container">
        <div class="col-xs-12">
          <center>
            <div class="row">
              <% @posts.each do |posts| %>
                <div class="col-sm">
                  <div class="card border-dark mb-3" style="width: 18rem; box-shadow: 0 0 10px rgb(136,130,252);">
                    <div class="card-header"><%=@user_email %></div>
                    <div class="card-body text-dark">
                      <%if posts.hashtag == "" %>
                      <%else %>
                        <h5 class="card-title"><%= button_to(posts.hashtag, '/community/'+posts.hashtag, method: "get", class: "btn") %></h5>
                      <%end %>
                      <h6 class="card-subtitle mb-2 text-muted"><%=posts.created_at %></h6>
                      <p class="card-text"><%=posts.post%></p>
                      <%if @likes.find_by(posts_id: posts.id).nil? %>
                        <%= button_to "Like", { action: "follow_action", :type => "like", :post_id => posts.id }, form_class: "form-line", class: "btn" %>
                      <%else %>
                        <%= button_to "Unlike", { action: "follow_action", :type => "unlike", :post_id => posts.id }, form_class: "form-line", class: "btn" %>
                      <%end %>
                    </div>
                  </div>
                  <br>
                </div>
                <br><br>
              <% end %>
            </div>
          </center>
        </div>
      </div>
    </section>
    <section id="one" class="section fbg">
      <h2>About the Creators of Quartz</h2>
      <br><br>
      The creators of Quartz consist of Jacob Diecidue, Max Dudek, John Fessler, Jared Ranalli, and Gurmail Mathon
      <br>
      This is a social media platform made for the CS1530 - Software Engineering course at the University of Pittsburgh
      <br>
      Inquiries: JAD285@pitt.edu
      <br>
      <br><br>
    </section>
  </body>
</html>