<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <center>
      <div id="gradient-text">quartz</div><br><br>
    </center>

    <section id="one" class="section fbg">
      <h2>Welcome Back <%=@user_email %>!</h2>
      <br><br>
      <a href="/my-profile"><button class="btn"><i class="fa fa-paper-plane"></i> Start Posting!</button></a>
      <a href="/explore"><button class="btn"><i class="fa fa-home"></i> Explore Communities!</button></a>
      <a href="/"><button class="btn"><i class="fa fa-list-alt"></i> View Your Feed!</button></a>
      <br><br>
    </section>
    <section id="one" class="section">
      <br><br>
      <%if @count == 0 %>
        <h3>Follow Some Users or Communities to Gain Interests!</h3>
      <%else %>
        <center>
          <section id="one" class="section fbg">
            <center>
            <h3>User Interests</h3>
            <br>
            <div class="container">
              <div class="row">
                <% @followed_users.each do |c| %>
                  <% @user_list.each do |u| %>
                    <%if u.id == c.to_user %>
                      <div class="col-sm">
                        <div class="card border-dark mb-3" style="width: 18rem; box-shadow: 0 0 5px rgb(224, 178, 255);">
                          <div class="card-header"><%= button_to(u.email.split("@").first.capitalize, '/user/'+c.to_user.to_s, method: "get", class: "btn") %></div>
                        </div>
                        <br>
                      </div>
                    <%end %>
                  <%end %>
                <% end %>
              </div>
            </div>
            </center>
          </section>
          <section id="one" class="section fbg">
            <center>
            <h3>Community Interest</h3>
            <br>
            <div class="container">
              <div class="row">
                <% @followed_users.each do |c| %>
                  <% @community_list.each do |u| %>
                    <%if u.id == c.communities_id %>
                      <div class="col-sm">
                        <div class="card border-dark mb-3" style="width: 18rem; box-shadow: 0 0 5px rgb(224, 178, 255);">
                          <div class="card-header"><%= button_to(u.name, '/community/'+u.hashtag, method: "get", class: "btn") %></div>
                        </div>
                        <br>
                      </div>
                    <%end %>
                  <%end %>
                <% end %>
              </div>
            </div>
            </center>
          </section>
        </center>
      <%end %>
    </section>
    <br><br>
    <section id="one" class="section fbg">
      <h2>About the Creators of Quartz</h2>
      <br><br>
      The creators of Quartz consist of Jacob Diecidue, Max Dudek, John Fessler, Jared Ranalli, and Gurmail Mathon
      <br>
      This is a social media platform made for the CS1530 - Software Engineering course at the University of Pittsburgh
      <br>
      Inquiries: JAD285@pitt.edu
      <br>
      <br><br>
    </section>
  </body>
</html>