<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <center>
      <div id="gradient-text">quartz</div><br><br>
    </center>

    <section id="one" class="section fbg">
      <h2>Get started on Quartz!</h2>
      <br><br>
      <a href="/users/sign_in"><button class="btn"><i class="fa fa-paper-plane"></i> Sign-up and Start Posting!</button></a>
      <a href="/explore"><button class="btn"><i class="fa fa-home"></i> Explore Communities!</button></a>
      <a href="/interests"><button class="btn"><i class="fa fa-list-alt"></i> View Your Interests!</button></a>
      <br><br>
    </section>
    <section id="one" class="section">
      <h2 style="animation: glow 2s ease-in-out infinite alternate;">Common Questions</h2>
      <br><br>
      <h4 style="display:inline">Q: </h4> What is Quartz?
      <br>
      <h4 style="display:inline">A: </h4> Quartz is a social media platform based on user and community posts.
      <br><br>---------------------------------------<br><br>
      <h4 style="display:inline">Q: </h4> How do I get started?
      <br>
      <h4 style="display:inline">A: </h4> All you need to do is click "Login" on the top right of the home page and either Login to your account or click "Sign up"
      <br><br>---------------------------------------<br><br>
      <h4 style="display:inline">Q: </h4> Is Quartz secure?
      <br>
      <h4 style="display:inline">A: </h4> Quartz uses secure authentication to make sure your account is safe from outside threats!
      <br><br>---------------------------------------<br><br>
      <h4 style="display:inline">Q: </h4> How do I start a community?
      <br>
      <h4 style="display:inline">A: </h4> Communities are quite easy to start! Click on the explore community tab and then in the first section click "Create a Community".
      <br><br>---------------------------------------<br><br>
      <h4 style="display:inline">Q: </h4> Is Quartz free to use?
      <br>
      <h4 style="display:inline">A: </h4> Quartz is a completely free social media platform!
      <br><br>
    </section>
    <section id="one" class="section fbg">
      <h2>About the Creators of Quartz</h2>
      <br><br>
      The creators of Quartz consist of Jacob Diecidue, Max Dudek, John Fessler, Jared Ranalli, and Gurmail Mathon
      <br>
      This is a social media platform made for the CS1530 - Software Engineering course at the University of Pittsburgh
      <br>
      Inquiries: JAD285@pitt.edu
      <br>
      <br><br>
    </section>
  </body>
</html>