<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%if user_signed_in? %>
      <center>
        <div id="gradient-text">quartz</div><br><br>
      </center>

      <section id="one" class="section fbg">
        <h2>Welcome Back <%=@user_email %>!</h2>
        <br><br>
        <a href="/my-profile"><button class="btn"><i class="fa fa-paper-plane"></i> Start Posting!</button></a>
        <a href="/explore"><button class="btn"><i class="fa fa-home"></i> Explore Communities!</button></a>
        <a href="/interests"><button class="btn"><i class="fa fa-list-alt"></i> View Your Interests!</button></a>
        <br><br>
      </section>
      <section id="one" class="section">
        <h2 style="animation: glow 2s ease-in-out infinite alternate;">Feed</h2>
        <br><br>
        <div class="container">
          <div class="col-xs-12">
            <center>
              <div class="row">
                <% @combine.each do |c| %>
                  <div class="col-sm">
                    <div class="card border-dark mb-3" style="width: 18rem; box-shadow: 0 0 10px rgb(224, 178, 255);">
                      <div class="card-header"><%= button_to(c.email.split("@").first.capitalize, '/user/'+c.user_id.to_s, method: "get", class: "btn") %></div>
                      <div class="card-body text-dark">
                        <h5 class="card-title"><%=c.hashtag%></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%=c.created_at %></h6>
                        <p class="card-text"><%=c.post%></p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">
                          <%if @likes.find_by(posts_id: c.id).nil? %>
                            <%if c.user_id != @current_id %>
                              <%= button_to "Like", { action: "follow_action", :type => "like", :post_id => c.id }, form_class: "form-line", class: "btn" %>
                            <%else %>
                              <%= @all_likes.where(posts_id: c.id).count %> Likes
                            <%end %>
                          <%else %>
                            <%= button_to "Unlike", { action: "follow_action", :type => "unlike", :post_id => c.id }, form_class: "form-line", class: "btn" %>
                          <%end %>
                        </small>
                      </div>
                    </div>
                    <br>
                  </div>
                  <br><br>
                <% end %>
              </div>
            </center>
          </div>
        </div>
      </section>
      <section id="one" class="section fbg">
        <h2>About the Creators of Quartz</h2>
        <br><br>
        The creators of Quartz consist of Jacob Diecidue, Max Dudek, John Fessler, Jared Ranalli, and Gurmail Mathon
        <br>
        This is a social media platform made for the CS1530 - Software Engineering course at the University of Pittsburgh
        <br>
        Inquiries: JAD285@pitt.edu
        <br>
        <br><br>
      </section>
    <%else %>
      <%=render 'home' %>
    <%end %>
  </body>
</html>