/* ------------------------------------------ Button Formatting ----------------------------------------------------- */

.btn {
    background-color: transparent;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(184, 184, 214);
}

.form-line {
    display: inline-block;
}

.button-div-main {
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.button-grey {
    background-color: #f8f8f8;
    color: #3e3e3e;
    border: 2px solid #e7e7e7;
}

.button-grey:hover {background-color: #e7e7e7;}
