html{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    font-size: 1.9rem;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    -webkit-font-smoothing:antialiased;
    line-height:normal;
    /*background-color: black!important;*/
    /*background-color: #2d3436!important;*/
    /*background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%)!important;*/
    background-color: #130f40 !important;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%)!important;
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #9d97ff;
    }
    to {
        text-shadow: 0 0 30px #dab0ff, 0 0 10px #9dbdff;
    }
}

input[type=text]:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(224, 178, 255);
    border: 1px solid rgb(238, 174, 255);
}

input[type=password]:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(224, 178, 255);
    border: 1px solid rgb(238, 174, 255);
}

input[type=email]:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(224, 178, 255);
    border: 1px solid rgb(238, 174, 255);
}

a {
    color: rgb(188, 90, 222) !important;
}

@keyframes fadeOut {
    0% 	{ opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; transform: translateY(0px);}
    99% { opacity: 0; transform: translateY(-30px);}
    100% { opacity: 0; }
}



