/* ---------------------------------------------------------- NAVBAR -----------------------------------------------*/
/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: rgba(95, 93, 152, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    background-color: rgba(95, 93, 152, 0)!important;
    border: none;
    color: #b5b5b5!important;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover{
    background-color: rgba(255, 255, 255, 0)!important;
    text-shadow: -1px 1px 1px rgb(204, 191, 239)!important;
    /*text-outline: rgb(188, 85, 255);*/
    color: rgb(218, 219, 255)!important;
}

.topnav-right {
    float: right;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

