/* ----------------------------------------------------- login/signup -----------------------------------------------*/
.login-panel {
    background-color: whitesmoke;
    opacity: .9;
    width: 30%;
    height: auto;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    z-index: 1;
    padding: 10px;
}

.post-panel{
    background-color: whitesmoke;
    opacity: .9;
    width: 100%;
    height: auto;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    z-index: 1;
    padding: 10px;
    box-shadow: 0 0 5px rgb(227, 196, 255);
}