/* --------------------------------------------- Different Sections ------------------------------------------------ */

.fbg {
    background-image:url("white-overlay.jpg")!important;
    background-attachment: fixed;
    background-position: 50% top;
    background-size: cover;
    color: black!important;
}

.section {
    height: 50%;
    position: relative;
    text-align: center;
    width: 100%;
    color: #b5b5b5;
}
.section:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

#one {
    /*background-color: rgb(0, 0, 0);*/
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

/* Example use of above
<section id="one" class="section fbg">
  one
</section>
<section id="one" class="section">
  two
</section>
 */

/* ------------------------------------------ Divs and Texts -------------------------------------------------------- */

#gradient-text {
    font-size: 128px;
    background: -webkit-linear-gradient(#eeeeee, #515151);
    animation: glow 2s ease-in-out infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}