<!DOCTYPE html>
<html>
  <head>
    <title>SocialMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>

  <body>
    <!--  Navbar Setup-->
    <div id="navbar">
      <a href="/">Home</a>
      <a href="/explore">Explore Communities</a>
      <div class="topnav-right">
        <% if user_signed_in? %>
          <a href="/interests">Interests</a>
          <a href="/my-profile">Profile</a>
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
        <% else %>
          <a href="/users/sign_in">Login</a>
        <% end %>
      </div>
    </div>
    <br><br>

    <!--    This is the alerts and notices-->
    <center>
    <% unless alert.nil? %>
      <div class="alert alert-secondary" role="alert" style="animation: fadeOut 3s; animation-fill-mode: forwards; width: 25%;">
            <%=  alert  %>
      </div>
    <% end %>
    <% unless notice.nil? %>
      <div class="alert alert-secondary" role="alert" style="animation: fadeOut 3s; animation-fill-mode: forwards; width: 25%;">
        <%= notice %>
      </div>
    <% end %>
    </center>
    <%= yield %>
  </body>
</html>
